.home_wrapper{
    max-width: 100%!important;
    

}
.home_searchResults{
    box-shadow: 5px 10px rgb(175, 175, 175);
}

.imagesearchResults img{
    max-width: 400px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 25px;
    cursor: pointer;
}
.imagesearchResults img:hover{
    transform:scale(1.02)
}
.home_searchResults{
    display: flex;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-right: 25px;
}
.websearchResults{
    min-width:30%;
    padding-right: 10%;
     
}
.websearchResults h4{
    margin-bottom: 15px;
}
.websearchResults ul{
    list-style-type: none;  
}
.websearchResults li{
    font-size: 25px;
    margin-bottom: 8%;
    color: rgb(100, 100, 100);
}

.websearchResults ul a{
    text-decoration: none;
    
}
.imagesearchResults img{
    margin: 8px;
    
}
.imagesearchResults h4{
    margin-bottom: 15px;
}
.home_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.home_searchbar input{
    min-width:600px;
    min-height: 50px;
    border-radius: 30px;
    padding-left: 2%;
}
.homelogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_searchbaricon_web{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home_searchbaricon_web button{
    background-image: linear-gradient(white,rgb(54, 54, 215));
    border:none;
    border-radius: 30px;
    min-width: 200px;
    min-height: 30px;
    color:white;
    cursor: pointer;
    
}
.home_searchbaricon_image button{
    background-image: linear-gradient(white,rgb(54, 54, 215));
    border:none;
    border-radius: 30px;
    min-width: 200px;
    min-height: 30px;
    color:white;
    cursor: pointer;
    
}
.home_searchbaricon_map button{
    background-image: linear-gradient(white,rgb(54, 54, 215));
    border:none;
    border-radius: 30px;
    min-width: 200px;
    min-height: 30px;
    color:white;
    cursor: pointer;
}
.websearchResults{
display: none;
}
.imagesearchResults{
    display: none;
}
.mapsearchResults{
    display: none;
}
.home_searchbaricon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.home_navBar{
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    
}
.home_navBar button{
   margin: 15px;
   background-image: linear-gradient(45deg,rgb(167, 192, 249),rgb(195, 252, 185));
   height: 6.5vh;
   width: 3.5vw;
   border-radius: 4vw;
    border:none;
    color:rgb(138, 138, 138);
    font-weight: 700;
    cursor: pointer;
}
.homepage_profile_components{
    display: flex;
    justify-content: flex-end;
   
    padding-right: 5%;
}
.home_nav_profile_box{
    background-image:linear-gradient(45deg, rgb(191, 191, 251), rgb(250, 194, 194));
    min-height: 200px;
    width:200px;
    visibility: hidden;
    border-radius: 10%;
    padding-top: 1%;
    padding-left: 2%;
     box-shadow: 5px 10px rgb(175, 175, 175);
}
.home_wrapper .home_nav_profile_box #home_page_profie_edit_button{
margin-top: 2vh;
width: 5vw;
height: 3vh;
background-image: linear-gradient(45deg,rgb(57, 57, 255),rgb(16, 16, 121));
border: none;
border-radius: 0.2vw;
color: white;
}
.home_wrapper .home_navBar .profile img{
    height: 6.5vh;
    width: 3.5vw;
    border-radius: 1.5vw;
}
@media only screen and (max-width:600px){
    .home_wrapper{
        display: grid;
        
    }
    .home_container{
        display: grid;
        
    }
    .home_searchbar input{
        min-width: 400px;
        min-height: 40px;
    }
    .websearchResults li{
        font-size: 15px;
        
        
    }
        .imagesearchResults img{
            max-width: 200px;
            min-height: 100px;
            max-height: 100px;
            border-radius: 25px;
            cursor: pointer;
        }
}